In [27]:
import xlsxwriter
import pandas as pd
import numpy as np
from openpyxl import load_workbook

## Create DataFrame

In [21]:
df1 = pd.DataFrame({ 'A' : 1.,
              'B' : pd.Timestamp('20170101'),
              'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
              'D' : np.array([3] * 4, dtype='int32'),
              'E' : pd.Categorical(["test","train","test","train"]),
              'F' : 'foo' })
df1

     A          B    C  D      E    F
0  1.0 2017-01-01  1.0  3   test  foo
1  1.0 2017-01-01  1.0  3  train  foo
2  1.0 2017-01-01  1.0  3   test  foo
3  1.0 2017-01-01  1.0  3  train  foo

## Write to Excel

In [51]:
writer = pd.ExcelWriter('Out_01.xlsx', engine='xlsxwriter')
df1.to_excel(writer, sheet_name='FirstSheet',startrow=1, index=False)
writer.save()

## Create another DataFrame which would like to apppend to original DataFrame

In [22]:
df2 = pd.DataFrame({ 'A' : 2.,
              'B' : pd.Timestamp('20170102'),
              'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
              'D' : np.array([3] * 4, dtype='int32'),
              'E' : pd.Categorical(["test","train","test","train"]),
              'F' : 'ood' })
df2

     A          B    C  D      E    F
0  2.0 2017-01-02  1.0  3   test  ood
1  2.0 2017-01-02  1.0  3  train  ood
2  2.0 2017-01-02  1.0  3   test  ood
3  2.0 2017-01-02  1.0  3  train  ood

## Append DataFrame to existing xlsx sheet

In [54]:
book = load_workbook('Out_01.xlsx')
writer = pd.ExcelWriter('Out_01.xlsx', engine='openpyxl') 

writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

df2.to_excel(writer, "FirstSheet", startrow=6, header=False, index=False)

writer.save()